<div class="body">
  <h1>¡Main menu Challenge!</h1>

  <div class="boton-container">
    <button class="boton" routerLink="/desviacion">¡Challenge 1A!
      <img class="imagen-pequena" src="assets/pequeño1.jpeg"  >
    </button>
    <button class="boton" onclick="abrirVentana2()">¡Challenge 3A!
      <img class="imagen-pequena" src="assets/pequeño2.png" >
    </button>
    <button class="boton" onclick="abrirVentana3()">¡Challenge 5A!
      <img class="imagen-pequena" src="assets/pequeño3.png" >
    </button>
  </div>
</div>