.body {
  margin: 0;
  padding: 0;
  background-image: url('fondo3.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: -webkit-sticky    ; 
}

.h1 {
  color: #00ff00; 
  font-size: 36px;
  margin-top: -50px;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  animation: parpadeo 2s infinite alternate;
}

@keyframes parpadeo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.boton-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px; 
}

.boton {
  position: relative; 
  padding: 10px 20px;
  margin: 15px; 
  font-size: 30px;
  color: #fff;
  background-color: rgb(87, 10, 122); 
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton:hover {
  background-color: #044910; 
  transform: translateY(-2px); 
}

.imagen-pequena {
  width: 150px;
  height: 150px; 
  position: absolute; 
  bottom: -200px; 
  left: 50%; 
  transform: translateX(-50%); 
}
