<div class="body">
  <h1>¡1A Challenge!</h1>

  <div class="textareas-container">
    <textarea id="lista1" readonly class="textarea">160    591    114    229    230    270    128   1657   624   1530
        </textarea>
    <textarea id="lista2" readonly
      class="textarea">15     69.9   6.5    22.4   28.4   65.9    19.4   198.7    38.8    28.4   138.2</textarea>
  </div>

  <div class="resultados-container">
    <div id="resultado1" class="resultado"> {{ resultado1 }}</div>
    <div id="resultado2" class="resultado"> {{ resultado2 }}</div>
  </div>


  <div class="accion-container" style="margin-top: 50px;">
    <div class="accion-container" style="margin-left: -600px;"></div>
    <button class="accion-boton" (click)="onClickLista1()">Lista 1</button>
    <button class="accion-boton" (click)="onClickLista2()">Lista 2</button>
    <button class="accion-boton" (click)="Media()">Media</button>
    <button class="accion-boton" (click)="calcularStddev()">Desviacion</button>
  </div>
</div>